<div id="attributes">
  <h3><%= l(:label_people_person) %></h3>
  <%= call_hook(:view_persons_sidebar_attributes_top) %>
  <% if @person.external? %>
    <h4><%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %></h4>
    <%= icon('envelope') %> <%= mail_to @person.email %>
  <% end %>
  <% if !@person.job_title.blank? %>
    <%= l(:field_people_job_title) %>: <%= @person.job_title %>
  <% end %>
  <ul>
    <li>
      <% unless @person.address.blank? %>
        <%= icon('map-marker') %>
        <%= link_to @person.address, "http://maps.google.com/maps?f=q&q=#{h @person.address.gsub("\r\n"," ").gsub("\n"," ")}+(#{h @person.nickname})&ie=UTF8&om=1"%>
      <% end %>
    </li>
    <% @person.mobile_phones.each do |phone| %>
      <li>
        <%= icon('mobile-phone') %>
        <%= h phone %>
      </li>
    <% end %>
    <% @person.landline_phones.each do |phone| %>
      <li>
        <%= icon('phone') %>
        <%= h phone %>
      </li>
    <% end %>
    <% unless @person.skype.blank? %>
      <li>
        <%= icon('skype') %>
        <%= link_to @person.skype, "skype:#{@person.skype}?call" %>
      </li>
    <% end %>
    <% unless @person.twitter.blank? %>
      <li>
        <%= icon('twitter') %>
        <%= link_to @person.twitter, "http://twitter.com/" + @person.twitter %>
      </li>
    <% end %>
    <% unless @person.facebook.blank? %>
      <li>
        <%= icon('facebook') %>
        <%= link_to @person.facebook.gsub(/^.*facebook.com\//, ''), "http://facebook.com/#{@person.facebook}" %>
      </li>
    <% end %>
    <% unless @person.linkedin.blank? %>
      <li>
        <%= icon('linkedin') %>
        <%= link_to @person.nickname, "http://www.linkedin.com/profile/view?id=#{@person.linkedin}"%>
      </li>
    <% end %>
    <% unless @person.birthday.blank? %>
      <li title=<%= "#{format_date(@person.birthday)}" %>>
        <%= icon('gift') %>
        <%= "#{@person.birthday.day} #{t('date.month_names')[@person.birthday.month]}"%> (<%= t :age, count: @person.age %>)
      </li>
    <% end %>
  </ul>
  <%= call_hook(:view_persons_sidebar_attributes_bottom) %>
</div>
