<div class="half-width">
  <div class="avatar">
    <%= avatar(person, :size => "100", :height => 100, :width => 100) %>
  </div>
  <div class="info">
    <p class="full_name"><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></p>
    <p><i><%= person.default_role %></i></p>
    <div class="contacts">
      <p><%= l(:field_people_phone) %>: <%= truncate(person.mobile_phone, :length => 17) %></p>
      <p><%= l(:field_people_email) %>: <%= mail_to truncate(person.email, :length => 20) %></p>
    </div>
  </div>
  <div class="social">
    <table>
      <% unless person.skype.blank? %>
        <tr>
          <td class="skype icon icon-skype"><%= link_to truncate(person.skype, :length => 10), "skype:#{person.skype}?call" %></td>
        </tr>
        <% end %>
        <% unless person.twitter.blank? %>
        <tr>
          <td class="twitter icon icon-twitter"><%= link_to truncate(person.twitter, :length => 10), "http://twitter.com/" + person.twitter %></td>
        </tr>
        <% end %>
        <% unless person.facebook.blank? %>
        <tr>
          <td class="facebook icon icon-facebook"><%= link_to truncate(person.facebook.gsub(/^.*facebook.com\//, ''), :length => 10), "http://facebook.com/#{person.facebook}" %></td>
        </tr>
        <% end %>
        <% unless person.linkedin.blank? %>
        <tr>
          <td class="linkedin icon icon-linkedin"><%= link_to truncate(person.nickname, :length => 10), "http://www.linkedin.com/profile/view?id=#{person.linkedin}"%></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>