<h2><%= l(:label_people_new_person) %></h2>

<%= labelled_form_for @person, :html => { :multipart => true, :method => :post, :id => "person_form" }  do |f|  %>
  <%= error_messages_for 'person' %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= submit_tag l(:button_save) -%>
<% end -%>

<% content_for :sidebar do %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag :persons, 'jquery.tokeninput.js', 'person-token-input.js', :plugin => 'redmine_contractors'  %>
  <%= stylesheet_link_tag :persons, 'token-input.css', 'token-input-facebook.css', :plugin => 'redmine_contractors' %>
  <%= robot_exclusion_tag %>
<% end %>
